* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.page {
    height: 100vh; /* 1vh = 1% of viewport's height*/
}
.nav {
    width: 80px;
    height: 100%;
    float: left;
    background: #151719;
}
.nav ul li a {
    /* icons */
    float: left; /* need this float for margins to work? */
    color: white;
    margin-top: 50px;
    margin-left: 25px;
}
.content {
    margin-left: 80px;
    height: 100%;
    background: orange;
}